<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body id="page-top">
	<div id="wrapper">
		<!-- Header -->
		<ul th:replace="layout :: header"></ul>
		<!-- End of Header -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- Topbar -->
				<nav th:replace="layout :: topbar"> </nav>
				<!-- End of Topbar -->

				<div class="container-fluid">
					<div th:replace="layout :: alert"> </div>

					<!-- Contenido sin heredar -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<div class="row align-items-center">
								<i class="pl-3 far fa-plus-square fa-2x"></i>
								<h6 class="pl-3 m-0 font-weight-bold text-primary" th:text="${title}"></h6>
							</div>
						</div>
						<div class="card-body">
							<!-- Remplazar las tablas o los formularios en este apartado -->
							<div class="form-group row">
								<div class="content col-sm-1">
									<i class="far fa-plus-square fa-2x"></i>
								</div>
								<h3 class="card-title col-sm-6" th:text="${title}"></h3>
								<div class="col-sm-4">
									<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
										<i class="fas fa-trash-alt"></i>&nbsp;Eliminar</button>
									<a class="btn btn-primary" th:href="@{/receta/list}"><i
											class="fas fa-arrow-left"></i>&nbsp;Volver</a>
								</div>
							</div>

							<input type="hidden" id="idreceta" th:value="${receta.idreceta}" />
							
							<hr />
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group row">
										<div class="content col-sm-3 bg-light">
											<i class="fas fa-user-injured"></i><label class="h5 col-form-label">&nbsp;Paciente:</label>
										</div>
										<div class="col-sm-8">
											<h5 class="card-text" th:text="${receta.paciente.nombre}"></h5>
										</div>
									</div>
									<div class="form-group row">
										<div class="content col-sm-3 bg-light">
											<i class="fas fa-user-md"></i><label
												class="h5 col-form-label">&nbsp;Doctor:</label>
										</div>
										<div class="col-sm-8">
											<h5 class="card-text" th:if="${receta.medico == null}">Sin Médico</h5>
											<h5 class="card-text" th:unless="${receta.medico == null}" th:text="${receta.medico.nombre}"></h5>
										</div>
									</div>
									<div class="form-group row">
										<div class="content col-sm-3 bg-light">
											<i class="fas fa-calendar-alt"></i> <label
												class="h5 col-form-label">Fecha:</label>
										</div>
										<div class="col-sm-8">
											<h5 class="card-text" th:text="${receta.fecha}"></h5>
										</div>
									</div>							
								</div>
								
							</div>
							
							<div class="row">
								<div class="col-sm">
								<table id="tablaDetalleRecetas" class="table table-sm">
									<thead>
									<tr>
									
										<th align="center">&nbsp;Medicamento</th>
										<th >&nbsp;Cant</th>
										<th>&nbsp;Posolog&iacutea</th>
										<th>&nbsp;Frecuencia</th>
										<th>&nbsp;Descripci&oacuten</th>
										<th>&nbsp;N&uacutemero</th>
										<th>&nbsp;Observaci&oacuten</th>
										<th>&nbsp;Activo</th>
										<th>&nbsp;Ver Dosis</th>

									</tr>
									</thead>
									<tbody >
									<tr th:each=" detalle : ${detalles}">
						
										<td th:text="${detalle.medicamento.nombreComercial}"></td>
										<td align="center" th:text="${detalle.cantidad}"></td>
										<td th:text="${detalle.posologia}" ></td>
										<td align="center" th:text="${detalle.frecuencia}" ></td>
										<td th:text="${detalle.descripcionTipoFrecuencia}" ></td>
										<td align="center" th:text="${detalle.numeroTomas}" ></td>
										<td th:text="${detalle.observacion}" ></td>
										<td align="center"><input type="checkbox" th:checked="${detalle.activo}" onclick="return false"/></td>
										<td>
											<a class="btn btn-sm btn-warning" title="Dosis"
											   th:href="@{/detallereceta/retrieve/} + ${detalle.iddetalleReceta}">
												<i class="fas fa-eye"></i>
												Dosis
											</a>
										</td>
										
									</tbody>
								</table>
								</div>
						
							
								
							
						</div>
						<!--Aqui van los modales de los cards -->
						<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">¿Desea eliminar esta receta?</h5>
										<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p th:text=${title}></p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
										<a th:href="@{/receta/delete/} + ${receta.idreceta}" class="btn btn-success">Confirmar</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<footer th:replace="layout :: footer"></footer>
		</div>
	</div>
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>
</body>

</html>