<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
	<header th:replace="layout :: header"></header>
	
	<div class="container">
		<br />
		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="far fa-plus-square fa-2x"></i>
					</div>
					<h3 class="card-title col-sm-6" th:text="${title}"></h3>
					<div class="col-sm-4"></div>
				</div>
				<hr />
				<table class="table table-hover">
					<thead>
						<tr>
							<th><i class="fas fa-user-md fa-2x"></i>&nbsp;Campo 1</th>
							<th><i class="fas far fa-address-card fa-2x"></i>&nbsp;Campo 2</th>
							<th><i class="fas fa-phone fa-2x"></i>&nbsp;Campo 3</th>
							<th><i class="fas fa-at fa-2x"></i>&nbsp;Campo 4</th>
							<th><i class="fas fa-award fa-2x"></i>&nbsp;Campo 5</th>
							<th><a class="btn btn-sm btn-success"><i class="fas fa-plus"></i>&nbsp;Nuevo</a></th>
						</tr>
					</thead>
					<tbody>						
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
				
	<footer th:replace="layout :: footer"></footer>
</body>
</html>