<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div id="wrapper">
	<header th:replace="layout :: header"></header>
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">
				<br />
<div class="container">
	<br />
	<div class="card col-md-12">
		<div class="card-body">
			<div class="form-group row">
				<div class="content col-sm-1">
					<i class="far fa-plus-square fa-2x"></i>
				</div>
				<h3 class="card-title col-sm-6" th:text="${title}"></h3>
				<div class="col-sm-4"></div>
			</div>
			<hr />
			<table class="table table-hover">
				<thead>
				<tr>
					<th><i class="fas fa-id-badge fa-2x"></i>&nbsp;Cedula</th>
					<th><i class="fas fa-user-md fa-2x"></i>&nbsp;Nombres</th>
					<th><i class="fas fa-user-nurse fa-2x"></i>&nbsp;Apellidos</th>
					<th><i class="fas fa-user-tag fa-2x"></i>&nbsp;Especialidad</th>
					<th><i class="fas fa-phone fa-2x"></i>&nbsp;Telefono</th>

					<th>
						<a class="btn btn-sm btn-success" th:href="@{/medico/create/}" >
							<i class="fas fa-plus"></i>&nbsp;Nuevo
						</a>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="medico : ${lista}">
					<td th:text="${medico.cedula}"></td>
					<td th:text="${medico.nombre}"></td>
					<td th:text="${medico.apellido}"></td>
					<td th:text="${medico.especialidad}"></td>
					<td th:text="${medico.telefono}"></td>

					<td>
						<a class="btn btn-sm btn-warning" title="Editar" th:href="@{/medico/update/} + ${medico.idpersona}">
							<i class="fas fa-edit"></i>
						</a>
						<a class="btn btn-sm btn-primary" title="Ver" th:href="@{/medico/retrieve/} + ${medico.idpersona}">
							<i class="fas fa-eye"></i>
						</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

</div>
<footer th:replace="layout :: footer"></footer>
</div>
</div>
</div>

</body>
</html>