<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body id="page-top">
<div id="wrapper">
	<!-- Header -->
	<ul th:replace="layout :: header"></ul>
	<!-- End of Header -->
	<div id="content-wrapper" class="d-flex flex-column">
		<div id="content">
			<!-- Topbar -->
			<nav th:replace="layout :: topbar"> </nav>
			<!-- End of Topbar -->

			<div class="container-fluid">
				<div th:replace="layout :: alert"> </div>
				<!-- Contenido sin heredar -->
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<div class="row align-items-center">
							<i class="pl-3 far fa-plus-square fa-2x"></i>
							<h6 class="pl-3 m-0 font-weight-bold text-primary" th:text="${title}"></h6>
						</div>
					</div>
					<div class="card-body">
						<!-- Remplazar las tablas o los formularios en este apartado -->
						<form th:action="@{/paciente/save}" th:object="${paciente}" method="post">

							<div class="form-group row">
								<div class="content col-sm-3">
									<i class="fas fa-tablets"></i>
									<label class="h5 col-form-label">&nbsp;Nombre:</label>
								</div>
								<div class="content col-sm-6">
									<input class="form-control" type="text"
										   th:field="*{nombre}"
										   th:errorclass="'form-control is-invalid'" required />
									<small class="invalid-feedback"
										   th:if="${#fields.hasErrors('nombre')}"
										   th:errors="*{nombre}"></small>
								</div>
							</div>

							<div class="form-group row">
								<div class="content col-sm-3">
									<i class="fas fa-vial"></i>
									<label class="h5 col-form-label">&nbsp;Apellido:</label>
								</div>
								<div class="content col-sm-6">
									<input class="form-control" type="text"
										   th:field="*{apellido}" required />
									<small class="invalid-feedback"
										   th:if="${#fields.hasErrors('apellido')}"
										   th:errors="*{nombre}"></small>
								</div>
							</div>
							<div class="form-group row">
								<div class="content col-sm-3">
									<i class="fas fa-calendar-times"></i>
									<label class="h5 col-form-label">Fecha de nacimiento:</label>
								</div>
								<div class="content col-sm-6">
									<input class="form-control" type="date"
										   th:field="*{nacimiento}"
										   th:errorclass="'form-control is-invalid'"
										   max="3000-12-31"
										   min="1850-01-02"
									/>
									<small>La fecha debe ser pasada</small>
									<small class="invalid-feedback"
										   th:if="${#fields.hasErrors('nacimiento')}"
										   th:errors="*{nacimiento}"></small>
								</div>
							</div>


							<div class="form-group row">
								<div class="content col-sm-3">
									<i class="fas fa-syringe"></i>
									<label class="h5 col-form-label">Tipo Sangre:</label>
								</div>
								<div class="content col-sm-6">
									<small>-- Seleccione --</small>
									<select class="form-control"
											th:field="*{tipoSangre}" size="9" required >
										<option value="1">-- O- --</option>
										<option value="2">-- O+ --</option>
										<option value="3">-- A- --</option>
										<option value="4">-- A+ --</option>
										<option value="5">-- B- --</option>
										<option value="6">-- B+ --</option>
										<option value="7">-- AB- --</option>
										<option value="8">-- AB+ --</option>
									</select>
									<small class="invalid-feedback"
										   th:if="${#fields.hasErrors('tipoSangre')}"
										   th:errors="*{tipoSangre}"></small>
								</div>
							</div>
							<br>
							<hr>

								<i class="far fa-angle-double-right"></i>&nbsp;Registro Detallado << Datos Opcionales>>
							<br>
	<span >
		<div class="form-group row">
								<div class="content col-sm-3">
									<i class="fas fa-vial"></i>
									<label class="h5 col-form-label">&nbsp;Alergias:</label>
								</div>
								<div class="content col-sm-6">
									<input class="form-control" type="text"
										   th:field="*{alergias}" />
								</div>
							</div>

							<div class="form-group row">
								<div class="content col-sm-3">
									<i class="fas fa-vial"></i>
									<label class="h5 col-form-label">&nbsp;Antecedentes:</label>
								</div>
								<div class="content col-sm-6">
									<input class="form-control" type="text"
										   th:field="*{antecedentes}" />
								</div>
							</div>
<div class="form-group row">
								<div class="content col-sm-3">
									<i class="fas fa-vial"></i>
									<label class="h5 col-form-label">&nbsp;Cedula:</label>
								</div>
								<div class="content col-sm-6">
									<input class="form-control"
										   type="tel"
										   pattern="[0-9]{10}"
										   th:field="*{cedula}" />
									<small>Formato: 1234567890</small>
								</div>
							</div>

							<div class="form-group row">
								<div class="content col-sm-3">
									<i class="fas fa-vial"></i>
									<label class="h5 col-form-label">&nbsp;Telefono:</label>
								</div>
								<div class="content col-sm-6">
									<input type="tel"
										   pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
										   class="form-control"
										   th:field="*{telefono}" />
									<small>Formato: 123-456-7890</small>
								</div>
							</div>
							<div class="form-group row">
								<div class="content col-sm-3">
									<i class="fas fa-vial"></i>
									<label class="h5 col-form-label">&nbsp;email:</label>
								</div>
								<div class="content col-sm-6">
									<input class="form-control" type="email"
										   th:field="*{email}" />
								</div>
							</div>


	</span>

							<hr />
							<div class="form-group row">
								<div class="col-sm-4">
									<a class="btn btn-danger"
									   th:href="@{/paciente/list}" type="reset">
										<i class="fas fa-minus-circle"></i>&nbsp;Cancelar</a>
									<button class="btn btn-success" type="submit">
										<i class="fas fa-plus-circle"></i>&nbsp;Guardar
									</button>
								</div>
							</div>
							<input type="hidden" th:field="*{idpersona}" />


						</form>
						<hr />
					</div>
				</div>

			</div>
		</div>
		<footer th:replace="layout :: footer"></footer>
	</div>
</div>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>
</body>
</html>