<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div id="wrapper">
	<header th:replace="layout :: header"></header>
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">
				<div th:replace="layout :: alert"></div>
		<br />
		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="far fa-plus-square fa-2x"></i>
					</div>
					<h3 class="card-title col-sm-6" th:text="${title}"></h3>
					<div class="col-sm-4"></div>
				</div>
				<hr />
				<table class="table table-hover">
					<thead>
						<tr>
							<th><i class="fas fa-phone fa-2x"></i>&nbsp;Nombre</th>
							<th><i class="fas fa-at fa-2x"></i>&nbsp;Apellido</th>
							<th><i class="fas fa-award fa-2x"></i>&nbsp;Cedula</th>
							<th><i class="fas fa-award fa-2x"></i>&nbsp;Fecha Nacimiento</th>
							<th><i class="fas fa-user-md fa-2x"></i>&nbsp;Alergias</th>
							<th><i class="fas far fa-address-card fa-2x"></i>&nbsp;Tipo de Sangre</th>
							<th><i class="fas far fa-address-card fa-2x"></i>&nbsp;Recetas</th>
							<th><a class="btn btn-sm btn-success" th:href="@{/paciente/create}"><i class="fas fa-plus"></i>&nbsp;Nuevo</a></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each=" paciente : ${lista}" >
							<td th:text="${paciente.nombre}"></td>
							<td th:text="${paciente.apellido}"></td>
							<td th:text="${paciente.cedula}"></td>
							<td th:text="${paciente.nacimiento}"></td>
							<td th:text="${paciente.alergias}" ></td>
							<td th:text="${paciente.tipoSangre.nombre}" ></td>
							<td >
								<a class="btn btn-danger"
								   th:href="@{/receta/list}">
									<i class="fas fa-minus-circle"></i>&nbsp;Recetas</a>
							</td>

							<td>
								<a class="btn btn-sm btn-warning" title="Editar"
								   th:href="@{/paciente/update/} + ${paciente.idpersona}">
									<i class="fas fa-edit"></i>
								</a>
								<a class="btn btn-sm btn-primary" title="Ver"
								   th:href="@{/paciente/retrieve/} + ${paciente.idpersona}">
									<i class="fas fa-eye"></i>
								</a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div><footer th:replace="layout :: footer"></footer>
	</div>
	</div>
	</div>
</body>
</html>