<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
	<header th:replace="layout :: header"></header>
	<div class="container">
		<br />
		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="fas fa-tablets fa-2x"></i>
					</div>
					<h3 class="card-title col-sm-6"
						th:text="${medicamento.nombreComercial}"></h3>
					<div class="col-sm-4">
						<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
						<i class="fas fa-trash-alt"></i>&nbsp;Eliminar</button>
						<a class="btn btn-primary" th:href="@{/medicamento/list}"><i
							class="fas fa-arrow-left"></i>&nbsp;Volver</a>
					</div>
				</div>
				<input type="hidden" id="idmedicamento"
					th:value="${medicamento.idmedicamento}" />
				<hr />
				<div class="row">
					<div class="col-md-12">
						<div class="form-group row">
							<div class="content col-sm-3 bg-light">
								<i class="fas fa-vial"></i> <label class="h5 col-form-label">&nbsp;Componente
									activo:</label>
							</div>
							<div class="col-sm-8">
								<h5 class="card-text" th:text="${medicamento.componenteActivo}"></h5>
							</div>
						</div>
						<div class="form-group row">
							<div class="content col-sm-3 bg-light">
								<i class="fas fa-dollar-sign"></i> <label
									class="h5 col-form-label">&nbsp;Precio:</label>
							</div>
							<div class="col-sm-8">
								<h5 class="card-text" th:text="${medicamento.precio}"></h5>
							</div>
						</div>
						<div class="form-group row">
							<div class="content col-sm-3 bg-light">
								<i class="fas fa-prescription-bottle"></i> <label
									class="h5 col-form-label">&nbsp;Concentraci&oacute;n:</label>
							</div>
							<div class="col-sm-8">
								<h5 class="card-text" th:text="${medicamento.concentracion}"></h5>
							</div>
						</div>
						<div class="form-group row">
							<div class="content col-sm-3 bg-light">
								<i class="fas fa-syringe"></i> <label class="h5 col-form-label">&nbsp;V&iacute;a
									de administraci&oacute;n:</label>
							</div>
							<div class="col-sm-8">
								<h5 class="card-text"
									th:text="${medicamento.viaAdministracion.nombre}"></h5>
							</div>
						</div>
						<div class="form-group row">
							<div class="content col-sm-3 bg-light">
								<i class="fas fa-calendar-times"></i> 
								<label class="h5 col-form-label">&nbsp;Fecha de caducidad:</label>
							</div>
							<div class="col-sm-8">
								<h5 class="card-text"
									th:text="${medicamento.fechaCaducidad}"></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">¿Desea eliminar al medicamento?</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p th:text=${medicamento.nombreComercial}></p>
					</div>
					<div class="modal-footer">						
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
						<a th:href="@{/medicamento/delete/} + ${medicamento.idmedicamento}" class="btn btn-success">Confirmar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout :: footer"></footer>
</body>
</html>