<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body id="page-top">
	<div id="wrapper">
		<!-- Header -->
		<ul th:replace="layout :: header"></ul>
		<!-- End of Header -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- Topbar -->
				<nav th:replace="layout :: topbar"> </nav>
				<!-- End of Topbar -->

				<div class="container-fluid">
					<div th:replace="layout :: alert"> </div>

					<!-- Contenido sin heredar -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<div class="row align-items-center">
								<i class="pl-3 far fa-plus-square fa-2x"></i>
								<h6 class="pl-3 m-0 font-weight-bold text-primary" th:text="${title}"></h6>
							</div>
						</div>
						<div class="card-body">
							<!-- Remplazar las tablas o los formularios en este apartado -->
							<form th:action="@{/medicamento/save}" th:object="${medicamento}" method="post">

								<div class="form-group row">
									<div class="content col-sm-3">
										<i class="fas fa-tablets"></i>
										<label class="h5 col-form-label">&nbsp;Nombre:</label>
									</div>
									<div class="content col-sm-6">
										<input class="form-control" type="text"
											   th:field="*{nombreComercial}"
											   th:errorclass="'form-control is-invalid'" />
										<small class="invalid-feedback"
											   th:if="${#fields.hasErrors('nombreComercial')}"
											   th:errors="*{nombreComercial}"></small>
									</div>
								</div>

								<div class="form-group row">
									<div class="content col-sm-3">
										<i class="fas fa-vial"></i>
										<label class="h5 col-form-label">&nbsp;Componente activo:</label>
									</div>
									<div class="content col-sm-6">
										<input class="form-control" type="text"
											   th:field="*{componenteActivo}" />
									</div>
								</div>

								<div class="form-group row">
									<div class="content col-sm-3">
										<i class="fas fa-dollar-sign"></i>
										<label class="h5 col-form-label">&nbsp;Precio:</label>
									</div>
									<div class="content col-sm-6">
										<input class="form-control" type="text"
											   th:field="*{precio}"
											   th:errorclass="'form-control is-invalid'" />
										<small class="invalid-feedback"
											   th:if="${#fields.hasErrors('precio')}"
											   th:errors="*{precio}"></small>
									</div>
								</div>

								<div class="form-group row">
									<div class="content col-sm-3">
										<i class="fas fa-prescription-bottle"></i>
										<label class="h5 col-form-label">&nbsp;Concentraci&oacute;n:</label>
									</div>
									<div class="content col-sm-6">
										<input class="form-control" type="text"
											   th:field="*{concentracion}"
											   th:errorclass="'form-control is-invalid'" />
										<small class="invalid-feedback"
											   th:if="${#fields.hasErrors('concentracion')}"
											   th:errors="*{concentracion}"></small>
									</div>
								</div>

								<div class="form-group row">
									<div class="content col-sm-3">
										<i class="fas fa-calendar-times"></i>
										<label class="h5 col-form-label">&nbsp;Fecha de caducidad:</label>
									</div>
									<div class="content col-sm-6">
										<input class="form-control" type="date"
											   th:field="*{fechaCaducidad}"
											   th:errorclass="'form-control is-invalid'" />
										<small class="invalid-feedback"
											   th:if="${#fields.hasErrors('fechaCaducidad')}"
											   th:errors="*{fechaCaducidad}"></small>
									</div>
								</div>

								<div class="form-group row">
									<div class="content col-sm-3">
										<i class="fas fa-syringe"></i>
										<label class="h5 col-form-label">&nbsp;V&iacute;a de administraci&oacute;n:</label>
									</div>
									<div class="content col-sm-6">
										<select class="form-control"
												th:field="*{viaAdministracion.idviadaministracion}">
											<option th:each="v : ${vias}"
													th:value="${v.idviadaministracion}"
													th:text="${v.nombre} + ' - ' + ${v.categoria}"></option>
										</select>
										<small class="invalid-feedback"
											   th:if="${#fields.hasErrors('viaAdministracion')}"
											   th:errors="*{viaAdministracion}"></small>
									</div>
								</div>
								<hr />
								<div class="form-group row">
									<div class="col-sm-4">
										<a class="btn btn-danger"
										   th:href="@{/medicamento/list}">
											<i class="fas fa-minus-circle"></i>&nbsp;Cancelar</a>
										<button class="btn btn-success" type="submit">
											<i class="fas fa-plus-circle"></i>&nbsp;Guardar
										</button>
									</div>
								</div>
								<input type="hidden" th:field="*{idmedicamento}" />


							</form>
							<hr />
						</div>
					</div>

				</div>
			</div>
			<footer th:replace="layout :: footer"></footer>
		</div>
	</div>
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>
</body>
</html>