<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: head"></head>
<body id="page-top">
	<div id="wrapper">
		<!-- Header -->
		<ul th:replace="layout :: header"></ul>
		<!-- End of Header -->

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- Topbar -->
				<nav th:replace="layout :: topbar"> </nav>
				<!-- End of Topbar -->

				<div class="container-fluid">
					<div th:replace="layout :: alert"> </div>

					<!-- Contenido sin heredar -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<div class="row align-items-center">
								<i class="pl-3 far fa-plus-square fa-2x"></i>
								<h6 class="pl-3 m-0 font-weight-bold text-primary" th:text="${title}"></h6>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="tablaMedicamentos" class="table table-bordered" width="100%" cellspacing="0">
									<thead>
									<tr>
										<th><i class="fas fa-tablets"></i>&nbsp;Nombre</th>
										<th><i class="fas fa-vial"></i>&nbsp;Componente</th>
										<th><i class="fas fa-dollar-sign"></i>&nbsp;Precio</th>
										<th><i class="fas fa-syringe"></i>&nbsp;V&iacute;a de administraci&oacute;n</th>
										<th><i class="fas fa-calendar-times"></i>&nbsp;Fecha de caducidad</th>
										<th sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-sm btn-success"
																					 th:href="@{/medicamento/create}"><i class="fas fa-plus"></i>&nbsp;Nuevo</a></th>
									</tr>
									</thead>
									<tbody>
									<tr th:each="medicamento : ${lista}" >
										<td th:text="${medicamento.nombreComercial}"></td>
										<td th:text="${medicamento.componenteActivo}"></td>
										<td th:text="${medicamento.precio}"></td>
										<td th:text="${medicamento.viaAdministracion.nombre}"></td>
										<td th:text="${#temporals.format(medicamento.fechaCaducidad, 'dd-MM-yyyy')}"></td>
										<td>
											<div class="row">
												<a sec:authorize="hasRole('ROLE_ADMIN')"
												   class="btn btn-sm btn-primary" title="Editar"
												   th:href="@{/medicamento/update/} + ${medicamento.idmedicamento}">
													<i class="fas fa-edit"></i>
												</a>
												<a class="btn btn-sm btn-success" title="Ver"
												   th:href="@{/medicamento/retrieve/} + ${medicamento.idmedicamento}">
													<i class="fas fa-eye"></i>
												</a>
												<a sec:authorize="hasRole('ROLE_ADMIN')"
												   class="btn btn-sm btn-danger" title="Eliminar"
												   th:href="@{/medicamento/delete/} + ${medicamento.idmedicamento}">
													<i class="fas fa-trash-alt"></i>
												</a>
											</div>

										</td>
									</tr>

									</tbody>
								</table>

							</div>
						</div>
					</div>

				</div>
			</div>
			<footer th:replace="layout :: footer"></footer>
		</div>
	</div>
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>
</body>
</html>